
<nav class="sidebar border-right bg-light w-15 h-100 position-absolute">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Admin Configuration</h6>
    <div class="dropdown-divider"></div>
    <ul class="nav flex-column h-100">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "User")">
                <i class="ms-Icon ms-Icon--People" aria-hidden="true"></i>
                Student
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "School")">
                <i class="ms-Icon ms-Icon--ConnectContacts" aria-hidden="true"></i>
                School
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "Volunteer")">
                <i class="ms-Icon ms-Icon--EngineeringGroup" aria-hidden="true"></i>
                Volunteer
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "Mission")">
                <i class="ms-Icon ms-Icon--GroupedList" aria-hidden="true"></i>
                Mission
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="@Url.Action("Index", "Roles")">
                <i class="ms-Icon ms-Icon--People" aria-hidden="true"></i>
                Roles
            </a>
        </li>
    </ul>
</nav>